* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
}

/* Hero Section */
.hero {
    position: relative;
    background: linear-gradient(135deg, #8e44ad, #b84dff);
    height: 80vh;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background: rgba(500, 500, 500, 0.3);
    height: 70px;
    border-radius: 50px;
    margin: 0 5%;
}

.logo { font-size: 1.5rem; font-weight: bold; }
.logo span { font-weight: bold;
  background-image: linear-gradient(to right, #000000, #e601ac); 
  background-clip: text; 
  color: transparent;
}

.nav-links { list-style: none; display: contents; }
.nav-links li { margin: 15px 15px; padding: -20px; }
.nav-links a { color: white; text-decoration: solid; font-size: 1.0rem; }

.hero-content {
    margin-top: 100px;
}

.hero-content h1 { font-size: 2.5rem; margin-bottom: 20px; font-weight: 300; }
.hero-content h1 strong { font-weight: 800; }
.hero-content p { max-width: 600px; margin: 0 auto 30px; opacity: 0.9; }

.btn-primary {
    background: #e632b0;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
  
}

/* Wave Effect */
.wave {
    position: fixed;
    bottom: 15px;
    width: 100%;
    line-height: 15px;
}

/* Features Cards */
.features {
    padding: 0 10%;
    position: relative;
    margin-top: -100px; 
    z-index: 10;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background: white;
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    flex: 1;
}

.card i {
    font-size: 40px;
    color: #8e44ad;
    margin-bottom: 20px;
}

.card h3 { margin-bottom: 15px; color: #333; }
.card p { color: #777; font-size: 0.9rem; line-height: 1.6; }

.nav-links :hover{
    color: red;
    animation: alternate 0.3ms ease-in;
}
.btn-primary :hover{
    transform: scale(1.3);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
         display: inline-block;
    transition: transform 0.6s ease;
}